/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    /* margin: 0; */
}
body {
    position: relative;
    z-index: 1;
    --tw-bg-opacity: 1;
   
    
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(145 142 160 / var(--tw-text-opacity));
}
